.version-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e5e5e5;
}

.verison-tip {
  margin-top: 12px;

  line-height: 1.5;
  text-align: left;
}

.close-btn {
  display: inline-block;
  width: 80px;
  margin-top: 12px;
}
