.push-version-content {
  padding: 30px 60px;
  border-top: 4px solid #2165b2;
  border-radius: 4px;

  background: #fff;
}

.push-main-context {
  margin: 30px 0;
}

.push-mgt-20 {
  margin-top: 20px;
}

.pwd-error-msg {
  position: absolute;
  bottom: -17px;

  width: 100%;

  font-size: 75%;
  color: #f44336;
}
