.exp-status-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 24px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
  }
  
  .exp-tab-container {
    display: flex;
    height: 100%;
  }
  
  .exp-tab {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }
  
  .sdk-body-footer {
    padding: 24px;
  
    background: #f6f6f6;
  }
  
  .ab-btn-group-line .ab-btn{
    color: #000;
  }

  .ab-btn-group-line .ab-btn-line-active{
    color: #2165B6;
  }
