.filter-table-td-name {
  width: 300px;
}

.filter-table-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;

  &:hover .filter-table-name-edit {
    visibility: inherit;
  }
}

.filter-table-name-edit {
  visibility: hidden;
}

.filter-table-des {
  position: relative;

  width: 300px;
}
