.mobile-alert-wrapper {

}
.mobile-alert-container {
  width: 640px;
  padding: 48px 48px 60px 48px;
  position: absolute;
  margin-top: -48px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mobile-alert-title {
  margin-bottom: 24px;
  line-height: 22px;
}
