.retention-table th,
.retention-table td {
  padding: 0 12px;
}

@for $i from 80 through 100 {
  .rb#{$i} {
    background-color: #abe2c1;
  }
}

@for $i from 60 through 79 {
  .rb#{$i} {
    background-color: #bce8ce;
  }
}

@for $i from 40 through 69 {
  .rb#{$i} {
    background-color: #ccedda;
  }
}

@for $i from 20 through 39 {
  .rb#{$i} {
    background-color: #def3e6;
  }
}

@for $i from 0 through 19 {
  .rb#{$i} {
    background-color: #eef9f2;
  }
}
