.app-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-container {
  position: absolute;
  top: 60px;
  left: 0;

  width: 240px;
  border-radius: 4px;

  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.app-head {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;

  &:hover {
    color: #313131;
  }
}

.app-list {
  height: 210px;
  padding: 9px 0;
  overflow-y: auto;
}

.app-content {
  padding: 9px 12px;

  cursor: pointer;

  &:hover {
    background: #f6f6f6;
  }
}
