<div style="width: 1200px;padding:24px;margin:24px auto;background:#fff;">
	<p class="ab-h1">style</p>
	<br><hr><br>
	<p class="ab-h2">font</p>
	<br>
	<p >ab-text-white</p><br>
	<p class="ab-text-muted">ab-text-muted</p><br>
	<p class="ab-text-primary">ab-text-primary</p><br>
	<p class="ab-text-success">ab-text-success</p><br>
	<p class="ab-text-danger">ab-text-danger</p><br>
	<p class="ab-text-warning">ab-text-warning</p><br>
	<br>
	<p class="ab-h1">ab-h1</p><br>
	<p class="ab-h2">ab-h2</p><br>
	<p class="ab-h3">ab-h3</p><br>
	<p class="ab-h4">ab-h4</p><br>
	<p class="ab-h5">ab-h5</p>
	<br><br><hr><br>
	<p class="ab-h2">button no border</p>
	<br>
	<a class="ab-a-primary"><i class="iconfont icon-settings ab-icon-left"></i>SDK配置</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="ab-a-danger"><i class="iconfont icon-delete ab-icon-left"></i>删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="ab-icon-gray"><i class="iconfont icon-book_big"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
	<div style="display:inline-block;background:#bcbcbc;">
		<a class="ab-icon-white"><i class="iconfont icon-book"></i></a>
	</div>
	<br><br><hr><br>
	<p class="ab-h2">button</p>
	<br>
	<button class="ab-btn ab-btn-default">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-primary">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-success">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-danger">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-warning">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-disabled">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-light">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-dark">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-darker">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br>
	<button class="ab-btn ab-btn-default"><i class="iconfont icon-add ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-icon-gray"><i class="iconfont icon-add ab-icon-left ab-icon-gray"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default"><i class="iconfont icon-14pxadd"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-icon-gray"><i class="iconfont icon-add ab-icon-gray"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br>
	<!-- <button class="ab-btn ab-btn-default ab-btn-fix-big">定宽按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-fix-lg">定宽按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-fix-exlarge">定宽按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br>
	<button class="ab-btn ab-btn-default ab-btn-icon-gray ab-btn-fix-big"><i class="iconfont icon-14pxadd ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-fix-lg"><i class="iconfont icon-14pxadd ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-fix-exlarge"><i class="iconfont icon-14pxadd ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br> -->
	<button class="ab-btn ab-btn-default ab-btn-large"><i class="iconfont icon-add"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-big"><i class="iconfont icon-add"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default"><i class="iconfont icon-add"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-sm"><i class="iconfont icon-add"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-exsm"><i class="iconfont icon-add"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br>
	<button class="ab-btn ab-btn-default ab-btn-large">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-big">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-sm">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-exsm">按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br>
	<button class="ab-btn ab-btn-default ab-btn-large"><i class="iconfont icon-add ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-big"><i class="iconfont icon-add ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default"><i class="iconfont icon-add ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-sm"><i class="iconfont icon-add ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<button class="ab-btn ab-btn-default ab-btn-exsm"><i class="iconfont icon-add ab-icon-left"></i>按钮</button>&nbsp;&nbsp;&nbsp;&nbsp;
	<br><br>
	<button class="ab-btn ab-btn-default ab-btn-radian">椭圆按钮</button>
	<br><br><hr><br>
	<p class="ab-h2">button group</p>
	<br>
	<div class="ab-btn-group">
		<button class="ab-btn ab-btn-default">按钮</button>
		<button class="ab-btn ab-btn-default">按钮</button>
		<button class="ab-btn ab-btn-default">按钮</button>
	</div>
	<br><br>
	<div class="ab-btn-group">
		<button class="ab-btn ab-btn-default"><i class="iconfont icon-edit"></i></button>
		<button class="ab-btn ab-btn-default"><i class="iconfont icon-settings"></i></button>
		<button class="ab-btn ab-btn-default"><i class="iconfont icon-delete"></i></button>
	</div>
	<br><br><hr><br>
	<p class="ab-h2">button group line</p>
	<br>
	<div class="ab-btn-group-line">
		<button class="ab-btn ab-btn-line-active">按钮</button>
		<button class="ab-btn">按钮</button>
		<button class="ab-btn">按钮</button>
	</div>
	<br><br><hr><br>
	<p class="ab-h2">dropdown</p>
	<br>
	<div class="ab-dropdown" style="margin-bottom: 240px;">
		<button class="ab-btn ab-btn-default ab-btn-down">下拉按钮</button>
		<ul class="ab-dropdown-menu">
			<li><a href="">下拉菜单内容</a></li>
			<li><a href="">下拉菜单内容</a></li>
			<li><a href="">下拉菜单内容</a></li>
		</ul>
	</div>
	<br><br><hr><br>
	<p class="ab-h2">input</p>
	<br>
	<input class="ab-input ab-input-sm" type="text">
	<input class="ab-input" type="text">
	<input class="ab-input ab-input-lg" type="text">
	<br><br>
	<input type="text" class="ab-input ab-input-danger">
	<input type="text" class="ab-input ab-input-warning">
	<br><br>
	<div class="ab-input-group ab-input-group-right">
		<input class="ab-input" type="text">
		<button class="ab-btn ab-btn-gray" type="button" name="button"><i class="iconfont icon-edit"></i></button>
	</div>
	<br><br>
	<div class="ab-input-group ab-input-group-left">
		<button class="ab-btn ab-btn-gray" type="button" name="button"><i class="iconfont icon-edit"></i></button>
		<input class="ab-input" type="text">
	</div>
	<br><br>
	<div class="ab-form-material">
		<input type="text" class="ab-form-control">
		<label>账号</label>
	</div>
	<br><br>
	<div class="ab-form-material">
		<input type="text" class="ab-form-control ab-form-control-danger">
		<label>账号</label>
	</div>
	<br><br>
	<div class="ab-form-material">
		<input type="text" class="ab-form-control ab-form-control-warning">
		<label>账号</label>
	</div>

  <br><br><br><br>


  <h1>提示</h1>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-top">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-bottom">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-left">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-right">hover</div>
  </div>

  <br>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-primary ab-popover-top">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-primary ab-popover-bottom">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-primary ab-popover-left">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-primary ab-popover-right">hover</div>
  </div>

  <br>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-success ab-popover-top">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-success ab-popover-bottom">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-success ab-popover-left">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-success ab-popover-right">hover</div>
  </div>

  <br>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-warning ab-popover-top">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-warning ab-popover-bottom">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-warning ab-popover-left">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-warning ab-popover-right">hover</div>
  </div>

  <br>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-danger ab-popover-top">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-danger ab-popover-bottom">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-danger ab-popover-left">hover</div>
  </div>
  <div class="ab-popover-container" style="margin: 80px">
    <span>提示</span>
    <div class="ab-popover ab-popover-danger ab-popover-right">hover</div>
  </div>
	<br><br><br><hr><br><br>
	<div class="ab-scroll" style="width: 500px;height: 300px;border: 1px solid #bcbcbc;overflow: scroll;"></div>
	<div class="ab-scroll-bg" style="width: 500px;height: 300px;border: 1px solid #bcbcbc;overflow: scroll;"></div>
	<br><br><br><hr><br><br>
	<p class="ab-h2">panel</p>
	<br><br>
	<div class="ab-panel" style="width: 800px;height:300px;">
		<div class="ab-panel-head">panel title</div>
		<div class="ab-panel-body">panel body</div>
	</div>
	<br><br><br><hr><br><br>
	<p class="ab-h2">table</p>
	<br><br>
	<div class="ab-table">
		<div class="ab-table-head">table head</div>
		<div class="ab-table-body">
			<table>
		    <tr>
		        <th>Header 1</th>
		        <th>Header 2</th>
		    </tr>
		    <tr>
		        <td>row 1, cell 1</td>
		        <td>row 1, cell 2</td>
		    </tr>
		    <tr>
		        <td>row 2, cell 1</td>
		        <td>row 2, cell 2</td>
		    </tr>
			</table>
		</div>
	</div>

	<div style="height:300px;position:relative;">
		<div class="ab-modal" style="position:absolute;"></div>
		<div class="ab-modal-dialog ab-modal-dialog-primary" style="position:absolute;height:200px;"></div>
	</div>
	<div style="height:300px;position:relative;">
		<div class="ab-modal" style="position:absolute;"></div>
		<div class="ab-modal-dialog ab-modal-dialog-success" style="position:absolute;height:200px;"></div>
	</div>
	<div style="height:300px;position:relative;">
		<div class="ab-modal" style="position:absolute;"></div>
		<div class="ab-modal-dialog ab-modal-dialog-warning" style="position:absolute;height:200px;"></div>
	</div>
	<div style="height:300px;position:relative;">
		<div class="ab-modal" style="position:absolute;"></div>
		<div class="ab-modal-dialog ab-modal-dialog-danger" style="position:absolute;height:200px;"></div>
	</div>

</div>
