.setting-second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.setting-panel {
  width: 1096px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
