
.new-part-three-paraname {
  width: 300px;
}

.new-part-three-short-text {
  max-width: 300px;
}

.new-part-three-edit-btn {
  opacity: 0;

  transition: 0.5s;
}

.new-table-long-input {
  width: 90%;
}

.version-name {
  display: inline-block;
  max-width: 270px;
}
