<div class="abp-bg-green">
  <div class="abp-container ab-scroll">
    <img class="login-logo" src="/assets/images/LOGO_gray@2x.png" alt="">
    <span *ngIf="!isChange">
        <form (ngSubmit)="submit(emailForm)" [formGroup]="emailForm"  novalidate autocomplete="off">
          <p class="ab-h1 ab-text-success login-title">{{ 'changeemail.title' | translate }}</p>
    
          <mat-form-field class="login-input-container">
            <input matInput type="email" formControlName="oldemail" [(ngModel)]="oldemail" placeholder="{{ 'changeemail.oldemail' | translate }}" >
            <mat-error *ngIf="(emailForm.get('oldemail').touched || submitted ) && emailForm.get('oldemail').hasError('required')">
              {{ 'changeemail.oldemailempty' | translate }}
            </mat-error>
          </mat-form-field>
          <br>
    
          <mat-form-field class="login-input-container">
            <input matInput type="email" formControlName="newemail" [(ngModel)]="newemail" placeholder="{{ 'changeemail.newemail' | translate }}">
            <mat-error *ngIf="(emailForm.get('newemail').touched || submitted ) && emailForm.get('newemail').hasError('required')">
                {{ 'changeemail.newemailempty' | translate }}
            </mat-error>
          </mat-form-field>
          <br><br><br>

          <button class="ab-btn ab-btn-success ab-btn-radian abp-btn-fix-exlarge" type="submit" [disabled]="!emailForm.valid">{{ 'changepwd.ok' | translate }}</button>
        </form>
        <p class="login-tip"><a class="ab-text-muted" [routerLink]="['/account']">{{ 'modal.cancel' | translate }}</a></p>
    
    </span>
 
		<div *ngIf="isChange">
      <br><br><br>
      <p class="ab-h1 ab-text-success forget-title">{{ 'changeemail.success' |  translate }}</p>
      <br><br>
      <p class="ab-text-muted forget-explain">{{ 'changepwd.go' | translate }}</p>
      <br><br><br>

      <button class="ab-btn ab-btn-success ab-btn-radian abp-btn-fix-exlarge" type="button" [routerLink]="['/login']">{{ 'changepwd.login' | translate }}</button>
    </div>
  </div>
</div>


