.log-container {
  position: fixed;
  z-index: 10;
  top: 84px;
  right: 24px;

  width: 400px;
  height: 500px;
  border-radius: 4px;

  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.log-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background: #2165b2;
}

.log-para {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 0;

  line-height: 1.5;
}

.log-list {
  max-width: 350px;
  padding-bottom: 12px;

  line-height: 1.5;
  overflow-x: auto;
}

.log-option-title {
  font-size: 18px;
  color: #2165b2;
}

.log-table-body {
  overflow: auto;
  height: 435px;
}
