<form class="pw-confirm-container">
  <p><span class="ab-h1 ab-text-primary">{{ 'confirmpwd.title' | translate }}</span></p>
    <br>
    <p>{{ 'confirmpwd.p1' | translate }}</p>
    <br>
    <input class="ab-input pw-confirm-password"  type="password" name="user.password" [(ngModel)]="user.password" placeholder="{{ 'confirmpwd.pwd' | translate }}">
    <br>
    <p class="pw-confirm-error" *ngIf="error_msg"><span class="ab-text-danger">{{ error_msg }}</span></p>
    <br><br>
    <button class="ab-btn ab-btn-default" (click)="close()">{{ 'modal.cancel' | translate }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="ab-btn ab-btn-primary" (click)="ok()">{{ 'modal.ok' | translate }}</button>
</form>
