
.new-part-three-table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;

  background: #fafafa;
}

.new-part-three-table {
  box-shadow: none;
}

.new-part-three-long-text {
  max-width: 800px;
}
