.copy-clientID-content {
  padding: 30px 60px;
  border-top: 4px solid #2165b2;
  border-radius: 4px;

  background: #fff;
}

.cp-main-context {
  margin: 30px 0;
}

.cp-client-id {
  margin-right: 15px;

  font-size: 13px;
  font-weight: bold;
  color: #2165b2;
}
