.charge-status-bar {
  height: 30px;
  padding: 0 12px;
  border-radius: 4px;

  line-height: 30px;
  background: #ff8181;

  a {
    color: #fff;
  }
}

.charge-status-sm {
  width: 1096px;
}

.charge-status {
  width: 1152px;
  margin: 0 auto;
}
